.team {
  background-color: var(--bg-light-color);
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;

  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.17;
  }
}

.team__list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
  }
}

.team__item {
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  background-color: var(--bg-white-color);

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.team__disc {
  padding: 30px 0;
}

.team__disc-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__disc-text {
  margin-top: 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 10px;
}

.team__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--social-primary-color);
  border-radius: 50%;

  transition: background-color var(--main-duration) var(--main-timing-function),
    color var(--main-duration) var(--main-timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-primary-color);
    color: var(--text-white-color);
  }
}

.team__social-icon {
  fill: currentColor;
}
