.doing {
  display: none;
  padding-top: 0;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.doing__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.doing__list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.doing__item {
  position: relative;
}

.doing__text {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-white-color);
  padding-top: 27px;
  padding-bottom: 27px;

  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}
