.footer-address {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  //   @media screen and (min-width: 768px) and (max-width: 1200px) {
  //     margin-left: 61px;
  //   }

  //   @media screen and (min-width: 1200px) {
  //     text-align: left;
  //   }
}

.footer-address__list {
  margin-top: 20px;
}

.footer-address__item:not(:last-child) {
  margin-bottom: 8px;

  //   @media screen and (min-width: 1200px) {
  //     margin-bottom: 9px;
  //   }
}

.footer-address__link--map {
  color: var(--text-white-color);
  font-style: normal;
}

.footer-address__link--contacts {
  color: var(--text-transpwhite-color);
  font-style: normal;

  transition: color var(--main-duration) var(--main-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-primary-color);
  }
}
