.footer {
  background-color: var(--bg-dark-color);
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}
