.footer-form {
  @media screen and (max-width: 1199px) {
    margin-top: 60px;
  }

  //   @media screen and (min-width: 768px) {
  //     margin-left: 151px;
  //   }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.footer-form__content {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-end;
    padding-top: 12px;
  }
}

.footer-form__wrapper {
  @media screen and (max-width: 1199px) {
    text-align: center;
    outline: none;
  }
}

.footer-form__name {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-white-color);
  display: block;
}

.footer-form__input {
  margin-top: 20px;
  padding-left: 16px;
  height: 50px;
  width: 100%;
  font-size: 16px;

  outline-color: transparent;
  border-color: var(--form-border-color);
  border-radius: 4px;
  background-color: transparent;
  color: var(--text-white-color);

  &:focus-visible {
    outline: 1px solid var(--accent-primary-color);
  }

  &:not(:placeholder-shown):not(:focus):required:valid {
    border-color: green;
  }

  &:not(:placeholder-shown):not(:focus):required:invalid {
    border-color: red;
  }

  @media screen and (min-width: 768px) {
    display: block;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    line-height: 1.25;
  }
}

.footer-form__btn {
  margin: 20px auto 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color var(--main-duration) var(--main-timing-function);

  border-radius: 4px;
  border: none;
  background-color: var(--accent-primary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-white-color);

  &:hover,
  &:focus {
    background-color: var(--accent-secondary-color);
  }

  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}

.footer-form__icon {
  margin-left: 12px;
  fill: var(--text-white-color);

  //   @media screen and (min-width: 768px) {
  //     margin-left: 10px;
  //   }
}
