.footer-form {
  margin-top: 60px;

  //   @media screen and (min-width: 768px) {
  //     margin-left: 151px;
  //   }

  //   @media screen and (min-width: 1200px) {
  //     margin-top: 12px;
  //     margin-left: 93px;
  //   }
}

// .footer-form__content {
//   @media screen and (min-width: 1200px) {
//     display: flex;
//     align-items: flex-end;
//     padding-top: 0;
//   }
// }

.footer-form__wrapper {
  text-align: center;

  //   @media screen and (min-width: 1200px) {
  //     text-align: left;
  //   }
}

.footer-form__name {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-white-color);
}

.footer-form__input {
  margin-top: 20px;
  padding-left: 16px;
  height: 50px;
  width: 100%;
  font-size: 16px;

  outline-color: transparent;
  border-color: var(--form-border-color);
  border-radius: 4px;
  background-color: transparent;
  color: var(--text-white-color);

  &:focus-visible {
    outline: 1px solid var(--accent-primary-color);
  }

  &:not(:placeholder-shown):not(:focus):required:valid {
    border-color: green;
  }

  &:not(:placeholder-shown):not(:focus):required:invalid {
    border-color: red;
  }

  @media screen and (min-width: 768px) {
    display: block;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-form__btn {
  margin: 20px auto 0 auto;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color var(--main-duration) var(--main-timing-function);

  border-radius: 4px;
  border: none;
  background-color: var(--accent-primary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-white-color);

  &:hover,
  &:focus {
    background-color: var(--accent-secondary-color);
  }

  //   @media screen and (min-width: 1200px) {
  //     margin-left: 12px;
  //   }
}

.footer-form__icon {
  margin-left: 12px;
  fill: var(--text-white-color);

  //   @media screen and (min-width: 768px) {
  //     margin-left: 10px;
  //   }
}
