.contacts-list {
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 50px;
  }
}

.contacts-list__link {
  display: flex;
  align-items: center;

  padding: 16px 0;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: inherit;

  transition: color var(--main-duration) var(--main-timing-function),
    font-size var(--main-duration) var(--main-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-primary-color);
    font-size: 34px;
  }

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.17;

    .contacts-list__item:first-child > & {
      padding: 21px 0 5px 0;
    }

    .contacts-list__item:last-child > & {
      padding: 5px 0 21px 0;
    }
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    .contacts-list__item:first-child > & {
      padding: 32px 0;
    }

    .contacts-list__item:last-child > & {
      padding: 32px 0;
    }
  }
}

.contacts-list__icon {
  fill: currentColor;
  display: none;

  @media screen and (min-width: 768px) {
    margin-right: 8px;

    &.contacts-list__icon--envelope-tablet,
    &.contacts-list__icon--smartphone-tablet {
      display: block;
    }
  }

  @media screen and (min-width: 1200px) {
    margin-right: 10px;
    &.contacts-list__icon--envelope-tablet,
    &.contacts-list__icon--smartphone-tablet {
      display: none;
    }
    &.contacts-list__icon--envelope-desktop,
    &.contacts-list__icon--smartphone-desktop {
      display: block;
    }
  }
}
