:root {
  --text-primary-color: #757575;
  --text-title-color: #212121;
  --text-black-color: #000000;
  --text-transpwhite-color: #ffffff99;
  --text-white-color: #ffffff;
  --accent-primary-color: #2196f3;
  --accent-secondary-color: #188ce8;
  --bg-white-color: #ffffff;
  --bg-light-color: #f5f4fa;
  --bg-dark-color: #2f303a;
  --bg-banner-color: #c4c4c4;
  --border-main-color: #ececec;
  --btn-border-color: #000000;
  --social-primary-color: #afb1b8;
  --social-footer-bg-color: #ffffff1a;

  --form-border-color: #ffffff4d;
  --form-modal-border: #21212133;

  --backdrop-main-bg: rgba(0, 0, 0, 0.2);
  --modal-main-bg: #ffffff;
  --modal-textarea-color: #75757580;

  --main-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --main-duration: 250ms;
}
